body {
    font-size: 14px
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;    
    color: #009899;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: .2em;

    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;

    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);

    /*
    * Verschiedene exemplarische color-properties
    * color: rgb(0, 152, 153);
    * color: rgba(0, 152, 153, 1);
    */
}
p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1 span {
    text-transform: uppercase;
}